@import url("https://fonts.googleapis.com/css2?family=PT+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Shadows+Into+Light+Two&display=swap");

.contenedor {
  font-family: "Covered By Your Grace", cursive;
  font-weight: 600;
  background: rgb(190, 35, 20);
  background: linear-gradient(
    150deg,
    rgba(190, 35, 20, 1) 37%,
    rgba(255, 255, 255, 1) 45%,
    rgba(190, 35, 20, 1) 54%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  border: 3px solid black;
  border-radius: 8px;
  box-shadow: 8px 0px 17px 1px #7d7d7d;
}

.pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 10px solid white;
  box-shadow: inset 1px 1px 9px 1px black;
  border-radius: 8px;
  width: 300px;
  margin-top: 1rem;
  background-color: #e6f4f7;
  opacity: 1;
  background-image: radial-gradient(circle at center center, #45def7, #e6f4f7),
    repeating-radial-gradient(
      circle at center center,
      #45def7,
      #45def7,
      9px,
      transparent 18px,
      transparent 9px
    );
  background-blend-mode: multiply;
}

h1 {
  font-size: 26px;
  margin-top: -20px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px white;
}

.pokeball {
  padding: 25px;
  width: 65px;
  cursor: pointer;
}

img {
  width: 140px;
  filter: drop-shadow(1px 1px 4px #222);
}

p {
  font-family: "PT Mono", monospace;
  color: black;
  font-size: 17px;
  margin-top: 0px;
}

.btn {
  display: flex;
  align-items: center;
}

.delete-btn {
}

.logo-pokemon {
  margin-top: 15px;
}

h2 {
  padding: 8px;
  width: 350px;
  margin-top: 20px;
  font-size: 18px;
  font-family: "PT Mono", monospace;
  font-weight: 400;
}
